
.row{
    padding:10px;
    margin-bottom: 30px;
    margin-top: 20px;
   
}
.row1{
    text-align: center;
}
.aboutus{
    text-indent: 50px;
    margin-left:5px;
    font-size: x-large;
    line-height: 35px;
    
    
}