
.Price {
  font-style: italic;
  font-weight: 500;
  color:black;
  width:30px;
  border-radius: 10px; 
 }
 
 .button{
   background-color:orange;
   border-radius: 10px;
   color:black;
   font-style:italic;
   font-weight: 700;
   cursor: pointer;
 }
 
 .buynow{
   width:80px;
   height:40px;
   background-color: orange;
   color:black;
   font-style:italic;
   font-weight: 900;
   margin:30px;
   cursor: pointer;
 }


